body{
	background-color: #1e272e;
	color: #1e272e;
}

.container{
	height: 100vh;
	background-color: #f6e58d;
	text-align: center;
}

.transparent{
	background-color: transparent;
}

.borderBottom{
	border-bottom: solid 2px #0c2461;
}

.input-group-text, .btn-outline-secondary{
	background-color: transparent;
	border: none;
	border-right: solid 1px #b33939;
	border-radius: 0px;
}

.form-control{
	margin-left: 0.25em;
	border: none;
	border-left: solid 1px #b33939;
	border-radius: 0px;
	text-align: left;
}

.displayNone{
	display: none;
}

.checkWidth{
	width: 41px;
}
